body {
  margin: 0;
  font-family: 'OfficialFont';
  src: local('OfficialFont'), url(./design/Fonts/metropolis/Metropolis-Regular.otf) format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'OfficialFont';
  src: local('OfficialFont'), url(./design/Fonts/metropolis/Metropolis-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'OfficialFont';
  src: local('OfficialFont'), url(./design/Fonts/metropolis/Metropolis-Regular.otf) format('truetype');
}
